<div class="backContainer" (click)="back()">
  <img src="assets/back.svg" width="25">
</div>

<h2>Create Workout</h2>

<div class="container">
  <input id="workoutName" placeholder="Workout Name">
  <div *ngFor="let exercise of selectableExercises" class="exercise" (click)="selectExercise($event, exercise)">
    <span class="name">{{exercise.name}}</span>
    <span class="selectIcon"><img src="assets/circle.svg" width="30"></span>
  </div>
  <button (click)="addWorkout()">Create</button>
</div>


